<!DOCTYPE html>
<html>
  <head>
    <title>Interactive goat</title>
  </head>
  <body>
    <h1>Interactive goat</h1>
    <p>
      Name: <%= @usr_goat.name %>
    </p>
    <p>
      Age: <%= @usr_goat.age %>
    </p>
    <p>
      Moody: <%= @usr_goat.moody %>
    </p>
  </body>
</html>
